* { /* Reset the space of the webpage */
    margin: 0px;
    padding: 0px;
   text-decoration: none;
   color: white;
   font-family: 'DM Sans', sans-serif;
 }
 
 body{
   margin-bottom:50px;
 }
 button {
   cursor: pointer;
 }

.vine-border {
    position: fixed;
    top: 25px;
    left: 50px;
/*     width: 100vw; /* 100% of viewport width */ */
    height: auto; /* 100% of viewport height */
    background: url('assets/vine.png') repeat-y; /* Adjust the path to your vine image */
}
 
 /* background image/animation */
 .background {
   max-width: 100%;
   height: auto;
   
   text-align: center;
 }
 
 .page-headers {
   padding-top: 25px;
 }
 /* TEXT */
 .page-text{
   max-width: 95%;
   margin: 0 auto;
   padding-bottom: 30px;
 }
 .background {
   position: relative;
   overflow: hidden;
   width: 100%;
 }
 
 .animation {
   width: 100%;
   height: auto;
   padding-bottom: 40px;
 }
 
 .home-text {
   position: absolute;
   top: 5%;
   left: 50%;
   transform: translate(-50%, -5%);
   background-color: rgba(0, 0, 0, 0.5);
   padding: 20px;
   margin-top: 10%;
   color: #fff;
   width: 90%; /* Adjust the width as needed to take up a portion of the background */
   text-align: center;
   z-index: 1;
   font-size: 2vw; /* Set font size based on viewport width */
   
 }
 
 .htext {
   color: white;
   text-align: center;
 }
 h1{
   color: #362B3C;
   text-align: center;
 }
 #gh{
   color: #362B3C;
   text-align: center;
   display: block;
 }
 .h2{
   color: black;
   text-align: center;
 }
 
 .vid-block {
   color: black;
   text-align: center;
   font-size: 30px;
   margin-top: 60px; /* Vertically center the element on the screen */
   margin-bottom: 20px; /* Vertically center the element on the screen */
   display: inline-block;
   border: 1px solid black;
   padding-top: 1px; /* Optional: Add padding for space between text and border */
   padding-left: 5px;
   padding-right: 5px;
 }
 
 .videos2{
   padding-bottom: 40px;
 }
 
 
 .test-p{
   color: black;
   font-size: 1.5em;
   text-align: center;
   padding-left: 40px;
   padding-right: 40px;
 }
 h3{
   color: black;
   text-align: center;
   padding-bottom: 30px;
 }
 .test-links{
   color: black;
 }
 p{
   padding-top: 5px;
   color: #362B3C;
   padding-left: 10px;
   padding-right: 10px;
   
 }
 .p-info{
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 5px;
     color: #362B3C;
 }
 
 /* NAV */
 .logo {
   font-size: 20px;
   transition: font-size 0.3s ease; /* Adjust the duration and easing function as needed */
 }
 
 
 /* STYLE NAV */
 .top-nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background: #666d4a;
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: white;
   height: 50px;
   padding: 1em;
 z-index: 21;
   
 }
 .menu {
   display: flex;
   flex-direction: row;
   list-style-type: none;
   margin: 0;
   padding: 0;
   z-index: 21;
   
 }
 
 .menu > li {
   margin: 0 1rem;
   align-items: center;
   overflow: hidden;
 
 
 }
 
 
 .menu > ul {
   overflow: hidden;
 
 }
 
 .menu > li:hover {
   font-weight: bold;
   
 }
 
 
 
 .menu-button-container {
   display: none;
   height: 100%;
   width: 30px;
   cursor: pointer;
   flex-direction: column;
   justify-content: center;
   align-items: stretch;
   
 }
 
 #menu-toggle {
   display: none;
 }
 
 .menu-button,
 .menu-button::before,
 .menu-button::after {
   display: block;
   background-color: white;
   position: absolute;
   height: 4px;
   width: 30px;
   transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
   border-radius: 2px;
   
 }
 
 .menu-button::before {
   content: '';
   margin-top: -8px;
 }
 
 .menu-button::after {
   content: '';
   margin-top: 8px;
 }
 
 #menu-toggle:checked + .menu-button-container .menu-button::before {
   margin-top: 0px;
   transform: rotate(405deg);
 }
 
 #menu-toggle:checked + .menu-button-container .menu-button {
   background: rgba(255, 255, 255, 0);
 }
 
 #menu-toggle:checked + .menu-button-container .menu-button::after {
   margin-top: 0px;
   transform: rotate(-405deg);
 }
 
 @media (max-width: 912px) {
   .menu-button-container {
     display: flex;
   }
   .menu {
     position: absolute;
     top: 50px; /* Adjust this value to match the height of your navigation bar */
     margin-top: 0; /* Remove the margin-top to align the menu with the navigation bar */
     left: 0;
     flex-direction: column;
     width: 100%;
     justify-content: center;
     background-color: #666d4a; /* Add the background color to match the navigation bar */
   }
   #menu-toggle ~ .menu li {
     height: 0;
     margin: 0;
     padding: 0;
     border: 0;
     transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   }
   #menu-toggle:checked ~ .menu li {
     border: 1px solid #666d4a;
     height: 2.5em;
     padding: 0.5em;
     transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   }
   .menu > li {
     display: flex;
     justify-content: center;
     margin: 0;
     padding: 0.5em 0;
     width: 100%;
     color: white;
     background-color: #757c5a;
   }
   .menu > li:not(:last-child) {
     border-bottom: 1px solid #666d4a;
   }
 
   .dropbtn {
   
   
   font-size: 1.1em;
   border: none;
 }
 }
 
 
 /* Dropdown Button */
 
 .dropbtn {
   
   background-color: transparent;
   font-size: 1.1em;
   border: none;
   
   
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
   align-content: center;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropbtn-content {
   text-align: left;
   display: none;
   position: fixed; /* Change to absolute */
   background-color: #8d9376;
   width: 200px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 21;
   font-weight: normal;
 }
 
 
 /* Links inside the dropdown */
 .dropbtn-content a {
   
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 
 }
 
 /* Change color of dropdown links on hover */
 .dropbtn-content a:hover {background-color: #9ca286;}
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropbtn-content {display: block;
                                  }
 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {
   font-weight: bold;}
 
 
 
 /* MENTAL HEALTH PAGE */
 .mh,
 .mh2 {
   transition: transform 0.3s ease, margin-bottom 0.3s ease;
 }
 @media (min-width: 906px) {
   .mh2-info, .hidden-text2, .mh2 {
     display: none;
   }
 
   .mh-info {
     display: flex;
     padding-top: 20px;
     align-items: center;
     justify-content: space-evenly;
     position: relative;
   }
 
   .mh {
     width: 30%;
     height: auto;
     background-color: #666d4a;
     color: #fff;
     text-align: center;
     line-height: 50px;
     margin: 10px;
     cursor: pointer;
     transition: transform 0.3s ease, margin-bottom 0.3s ease;
     margin-bottom: 100px;
   }
 
   .mh:hover,
   .mh:hover + .mh,
   .mh:hover ~ .mh {
       margin-bottom: 300px;
   }
   .mh:hover {
     transform: scale(1.1);
   }
 
   .hidden-text {
     display: none;
     background-color: #8d9376;
     padding: 10px;
     text-align: center;
     color: #333;
     position: absolute;
     top: 100%;
     left: 50%;
     transform: translate(-50%);
     width: 90%;
     max-height: 500%;
     overflow-y: scroll;
     scrollbar-width: thin;
     border-radius: 5px;
     opacity: 0;
     transition: opacity 0.3s ease;
     
   }
 
   .mh:hover .hidden-text{
     display: block;
     opacity: 1;
   }
 }
 
 
 /*HEYIT'SHERE */
 
 @media (max-width: 905px) {
   .mh-info, .hidden-text, .mh {
     display: none;
   }
   .mh-info2 {
     position: relative;
     margin-bottom: 70px;
   }
 
   .mh2 {
     width: 350px;
     height: auto;
     background-color: #666d4a;
     color: #fff;
     text-align: center;
     line-height: 50px;
     margin: 30px auto;
     cursor: pointer;
     transition: transform 0.3s ease, margin-bottom 0.3s ease;
     margin-bottom: 0px;
   }
 
   .mh2:hover {
     transform: scale(1.1);
     margin-bottom: 330px;
   }
 
   .hidden-text2 {
     display: none;
     background-color: #8d9376;
     padding: 10px;
     text-align: center;
     color: #333;
     position: absolute;
     width: 115%;
     max-height: 500%;
     overflow-y: scroll;
     scrollbar-width: thin;
     top: 100%;
     left: 50%;
     transform: translateX(-50%);
     border-radius: 5px;
     opacity: 0;
     transition: opacity 0.3s ease;
   }
 
   .mh2:hover .hidden-text2 {
     display: block;
     opacity: 1;
   }
 }
 
 
 /*HEYIT'SHERE */
 
 
 /* ILLNESS */
 .mh-info3 {
   position: absolute;
   top: 45.5%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 
 .mh3 {
   padding-top: 5px;
   padding-bottom: 5px;
   width: 350px;
   height: auto;
   background-color: #666d4a;
   color: #fff;
   text-align: center;
   justify-content: center;
   align-items: center;
   line-height: 50px;
   margin: 30px auto;
   cursor: pointer;
   transition: transform 0.3s ease, margin-bottom 0.3s ease; /* Add margin-bottom transition */
   position: relative;
 }
 
 .mh3:hover {
   transform: scale(1.1);
   margin-bottom: 400px;
 }
 
 .hidden-text3 {
   display: none;
   background-color: #8d9376;
   padding: 10px;
   text-align: center;
   color: #333;
   position: absolute;
   width: 115%;
   max-height: 500%;
   overflow-y: scroll;
   scrollbar-width: thin;
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 5px;
   opacity: 0;
   transition: max-height 0.3s ease, opacity 0.3s ease;
 }
 
 .mh3:hover .hidden-text3 {
   display: block;
   opacity: 1;
 }
 
 
  /* */
 
 /* BUBBLE ON GET HELP TEST */
 
 /* #bubble {
     width: 170px;
     height: 170px;
     background-color: #8d9376;
     border-radius: 50%;
     position: absolute;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-size: 20px;
     top: 35%;
     left: 50%;
     transform: translate(-50%, -50%);
   scale: 1;
   animation-duration: 1500;
 }
 #bubble2 {
     width: 170px;
     height: 170px;
     background-color: #8d9376;
     border-radius: 50%;
     position: absolute;
     cursor: pointer;
     display: flex;
     justify-content: center;
   text-align: center;
     align-items: center;
     font-size: 20px;
     top: 70%;
     left: 35%;
     transform: translate(-50%, -50%);
   scale: 1;
   animation-duration: 1500;
 }
 #bubble3 {
     width: 170px;
     height: 170px;
     background-color: #8d9376;
     border-radius: 50%;
     position: absolute;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-size: 20px;
     top: 70%;
     left: 65%;
     transform: translate(-50%, -50%);
   scale: 1;
   animation-duration: 1500;
 }
 
 @media(max-width:664px){
   #bubble {
       width: 120px;
       height: 120px;
       background-color: #8d9376;
       border-radius: 50%;
       position: absolute;
       cursor: pointer;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       font-size: 20px;
       top: 35%;
       left: 50%;
       transform: translate(-50%, -50%);
     scale: 1;
     animation-duration: 1500;
   }
   #bubble2 {
       width: 120px;
       height: 120px;
       background-color: #8d9376;
       border-radius: 50%;
       position: absolute;
       cursor: pointer;
       display: flex;
       justify-content: center;
     text-align: center;
       align-items: center;
       font-size: 20px;
       top: 70%;
       left: 35%;
       transform: translate(-50%, -50%);
     scale: 1;
     animation-duration: 1500;
   }
   #bubble3 {
       width: 120px;
       height: 120px;
       background-color: #8d9376;
       border-radius: 50%;
       position: absolute;
       cursor: pointer;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       font-size: 20px;
       top: 70%;
       left: 65%;
       transform: translate(-50%, -50%);
     scale: 1;
     animation-duration: 1500;
   }
 }
 
 #bText{
   align-items: center;
   display: none;
   position: absolute;
   background-color: #8d9376;
   width: 100%;
   height: 100%;
   margin-top: -67px;
   cursor: pointer;
 }
 .bubble{
   text-align: center;
   padding-top: 100px;
   padding-left: 50px;
   padding-right: 50px;
   color: white;
   font-size: 20px;
 }
 
 #2 */
 /* #bText2{
   align-items: center;
   display: none;
   position: absolute;
   background-color: #8d9376;
   width: 100%;
   height: 100%;
   margin-top: -67px;
   cursor: pointer;
 }
 .bubble2{
   text-align: center;
   padding-top: 100px;
   padding-left: 50px;
   padding-right: 50px;
   color: white;
   font-size: 20px;
 }
 
 
 /* #3 */
 /* #bText3{
   align-items: center;
   display: none;
   position: absolute;
   background-color: #8d9376;
   width: 100%;
   height: 100%;
   margin-top: -67px;
   cursor: pointer;
 }
 .bubble3{
   text-align: center;
   padding-top: 100px;
   padding-left: 50px;
   padding-right: 50px;
   color: white;
   font-size: 20px;
 } */
 
 
 /* .frame {
   position: absolute;
   top: 40%;
   left:50%;
   transform: translate(-50%,-50%);
 }  */
 
 
 .bubble {
   position: absolute;
   display: inline-block;
   width: 170px;
   height: 170px;
   text-align: center;
   border-radius: 50%;
   padding-top: 60px;
   transition: all 200ms ease-in-out;
   z-index: 6;
 }
 
 .bubble .content {
   display: none;
 }
 
 .bubble.active {
   width: 500px;
   height: 500px;
   border-radius: 0;
   z-index: 20;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 
 .bubble.active .content {
   margin-top: -35px;
   /* display: block; */
   width: 400px;
   height: 400px;
   overflow: auto;
   display: inline-block;
   font-size: 20px;
 }
 .bubble.active .header {
   /* display: block; */
   display: none;
 }
 
 .header{
   font-size: 20px;
 }
 
 #b1.active {
   top: 400px;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(51,61,40,1);
 }
 
 #b1 {
   top: 350px;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(51,61,40,.8);
 }
 #b2{
   padding-top: 70px;
 }
 
 #b2.active {
  top: 400px;
  left: 50%;
  margin-left: 0;
  transform: translate(-50%, -50%);
   background-color: rgba(80,84,56,1);
 }
 
 #b2 {
   top: 490px;
   left: 50%;
   margin-left: 3px;
   transform: translate(-50%, -50%);
   background-color: rgba(80,84,56,.8);
 }
 
 #b3.active {
  top: 400px;
  left: 50%;
  margin-left: 0;
  transform: translate(-50%, -50%);
   background-color: rgba(171,179,133,1);
 }
 
 #b3 {
   top: 420px;
   left: 50%;
   margin-left: 120px;
   transform: translate(-50%, -50%);
   background-color: rgba(171,179,133,.9);
 }
 
 #b4.active {
  top: 400px;
  left: 50%;
  margin-left: 0;
  transform: translate(-50%, -50%);
   background-color: rgba(141, 147, 118, 1);
 }
 
 #b4 {
   top: 280px;
   left: 50%;
   margin-left: -115px;
   transform: translate(-50%, -50%);
   background-color: rgba(141, 147, 118, .95);
 }
 
 
 
 
 
 .rsc {
   display: inline-block;
   width: 25%; /* Set initial width to 25% */
   min-width: 120px; 
       height: auto;
       background-color: #666d4a;
       color: #fff;
       text-align: center;
       line-height: 50px;
       margin: 10px;
       cursor: pointer;
       transition: transform 0.3s ease;
 
   }
 
 .rsc:hover {
     transform: scale(1.1);
 }
 
 .rsc-holder1{
   margin: 20px;
   display: flex;
   align-content: center;
   justify-content: space-evenly;
   text-align: center;
 }
 
 .rsc-holder2{
   margin: 80px;
   display: flex;
   align-content: center;
   justify-content: space-evenly;
   text-align: center;
 }
 
 .rsc-holder3{
   margin: 80px;
   display: flex;
   align-content: center;
   justify-content: space-evenly;
   text-align: center;
 }
 
 
 .ht {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 25%;
   min-width: 120px;
   height: 100px;
   background-color: #666d4a;
   color: #fff;
   text-align: center;
   line-height: 1; /* Adjust line-height for vertical centering */
   margin: 10px;
   cursor: pointer;
   transition: transform 0.3s ease;
 }
 
 .ht:hover {
   transform: scale(1.1);
 }
 
 .ht-holder1{
   margin: 20px; /* Adjust margin as needed */
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   text-align: center;
 }
 .ht-holder2{
   margin: 80px; /* Adjust margin as needed */
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   text-align: center;
 }
 .ht-holder3 {
   margin: 80px; /* Adjust margin as needed */
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   text-align: center;
 }
 
 .hotline-links{
   padding-top:30px;
   
 }
 .ht-links{
   color: #666d4a;
 }
 
 .form{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 20px;
 }
 
 /* BUTTON */
 #donateButton {
   z-index: 2;
   position: fixed;
   bottom: 45%;
   left: -52px;
   padding: 20px 50px;
   font-size: 20px;
   background-color: #8d9376;
   color: white;
   border: none;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   border-radius: 6px;
   cursor: pointer;
   transition: transform 0.3s, opacity 0.3s;
   transform: rotate(-90deg);
 }
 
 #donateButton:hover {
   background-color: #757c5a;
   color: white;
 }
 
 .vid{
   text-align: center;
 }
 
 
 /* CONTACT*/
 .profile-text {
 text-align: left;
 }
 
 /* profile photos--making them circular */
 .profile-photo {
   width: 30%; /* sets size of photos */
   aspect-ratio: 1/1;   /* maintains the circular shape */
   border-radius: 50%; /* circular shape */
 
 }
 /* Sam & Reva info */
 .sam-reva {
   display: flex;
   align-items: center top;
   width: 100%;
   text-align: center;
   padding-top: 3%;
   padding-bottom: 3%;
 }
 #sam{
   align-items: center;
   width: 100%; /* Set paragraphs to occupy the full width of the container */
     margin: 0; /* Remove default margin to have consistent spacing */
   padding-left: 2%;
 
 
 }
 #reva {
   z-index: 1; /*allows for overlap*/
   align-items: center;
   width: 100%; /* Set paragraphs to occupy the full width of the container */
     margin: 0; /* Remove default margin to have consistent spacing */
   padding-right: 2%;
 
 }
 
 /* Fiona & Eunjee info */
 .fiona-eunjee {
   display: flex;
   align-items: center top;
   width: 100%;
   text-align: center;
   padding-top: 3%;
   padding-bottom: 3%;
 }
 #fiona{
   align-items: center;
   width: 100%; /* Set paragraphs to occupy the full width of the container */
     margin: 0; /* Remove default margin to have consistent spacing */
   padding-left: 2%;
 
 }
 #eunjee {
   z-index: 1; /*allows for overlap*/
   align-items: center;
   width: 100%; /* Set paragraphs to occupy the full width of the container */
     margin: 0; /* Remove default margin to have consistent spacing */
   padding-right: 2%;
 
 }
 
 .fa{
   color: black;
 }
 .profile-name{
   color: black;
 }
 .link{
   color: black;
 }
 
 /* ACTIVITIES */
 .wrapper{
   position: relative;
 
   z-index: 1;
 
 }
 
 /* ARTICLES */
 
 .carousel {
     display: flex;
     justify-content: space-evenly; /* Center the cards horizontally */
     align-items: flex-start; /* Align the cards to the top of the container */
   padding-bottom: 20px;
     margin-top: 20px; /* Adjust margin as needed */
 }
 
 .card{
   width: 200px;
   height: 250px;
   margin: 0 10px;
   perspective: 1000px;
 }
 .card2{
   width: 175px;
   height: 250px;
   margin: 0 10px;
   perspective: 1000px;
 }
 
 .card-inner {
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transition: transform 0.5s;
 }
 
 .card:hover .card-inner  {
   transform: rotateY(180deg);
 }
 .card2:hover .card-inner  {
   transform: rotateY(180deg);
 }
 
 .card-front, .card2-front,
 .card-back {
   width: 100%;
   height: 100%;
   position: absolute;
   backface-visibility: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px; /* Adjust the value as needed for rounded corners */
 }
 
 .card-front, .card2-front{
   background-color: #757c5a;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 20px;
   border-radius: 8px; /* Adjust the value as needed for rounded corners */
 }
 
 .card-front img {
   max-width: 85%; /* Ensure the image doesn't exceed the container width */
   border-radius: 8px; /* Make the image itself rounded (adjust as needed) */
   margin-bottom: 10px; /* Spacing between image and text */
 }
 
 
 .card-back {
   background-color: #8d9376;
   transform: rotateY(180deg);
   overflow: auto;
   align-items: flex-start;
   font-size: 15px;
   line-height: 1.5;
   padding-left: 7px;
   padding-right: 7px;
 }
 
 .cardf{
   color: white;
 }
 /* Add the styles for the flipped class */
 .card.flipped .card-inner {
   transform: rotateY(180deg);
 }
 
 .card2-front img {
   min-height: 100%;
   min-width: 100%; /* Ensure the image doesn't exceed the container width */
   border-radius: 8px; /* Make the image itself rounded (adjust as needed) */
   
 }
 
 
 /* APPS */
 /* Default styles for larger screens */
 .app-container {
   margin-top: 20px;
   padding-bottom: 40px;
   justify-content: space-around;
   display: flex;
   flex-direction: row; /* Adjusted to horizontal */
 }
 
 .app {
   width: 200px;
   height: 200px;
   margin: 0 10px;
   perspective: 1000px;
   align-content: center;
   justify-content: center;
   text-align: center;
 }
 
 .app-inner img {
   max-width: 85%;
   border-radius: 19px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
 }
 
 /* Media query for screens larger than 614px */
 @media (max-width: 614px) {
   .app-container {
     margin-top: 20px;
     padding-bottom: 40px;
     justify-content: space-around;
     display: flex;
     flex-direction: row;
   }
 
   .app {
     width: 150px;
     height: 150px;
     margin: 0 10px;
     perspective: 1000px;
     align-content: center;
     justify-content: center;
     text-align: center;
   }
 }
 
 /* Media query for screens smaller than 414px (adjust the value as needed) */
 @media (max-width: 414px) {
   .app-container {
     flex-direction: column; /* Stack items vertically on smaller screens */
   }
 
   .app {
     width: 100%; /* Make the app take the full width of the container */
     margin: 0 0 20px 0; /* Add margin to separate items vertically */
   }
 }
 
 
 /* GALLERY */
 * {box-sizing:border-box}
 
 /* Slideshow container */
 .slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
 }
 
 /* Hide the images by default */
 .mySlides {
   display: none;
 }
 
 /* Next & previous buttons */
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
 
 /* Position the "next button" to the right */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }
 
 /* Caption text */
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }
 
 /* Number text (1/3 etc) */
 .numbertext {
   color: #362B3C;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 /* The dots/bullets/indicators */
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
   
 }
 
 .dots{
   padding-bottom: 40px;
 }
 
 .active, .dot:hover {
   background-color: #717171;
 }
 
 /* Fading animation */
 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }
 
 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
 
 /* MH */
 .mhlink-container {
   margin-top: 20px;
   padding-bottom: 40px;
   justify-content: space-around;
   display: flex;
   flex-direction: row; /* Adjusted to horizontal */
 }
 
 .mhlink {
   width: 300px;
   height: 300px;
   margin: 0 10px;
   perspective: 1000px;
   align-content: center;
   justify-content: center;
   text-align: center;
 }
 
 .mh-inner img {
   max-width: 85%;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
 }
 @media (max-width: 919px) {
   .mhlink-container {
     margin-top: 20px;
     padding-bottom: 40px;
     justify-content: space-around;
     display: flex;
     flex-direction: row;
   }
 
   .mhlink {
     width: 200px;
     height: 200px;
     margin: 0 10px;
     perspective: 1000px;
     align-content: center;
     justify-content: center;
     text-align: center;
   }
 }
 /* Media query for screens larger than 614px */
 @media (max-width: 614px) {
   .mhlink-container {
     margin-top: 20px;
     padding-bottom: 40px;
     justify-content: space-around;
     display: flex;
     flex-direction: row;
   }
 
   .mhlink {
     width: 150px;
     height: 150px;
     margin: 0 10px;
     perspective: 1000px;
     align-content: center;
     justify-content: center;
     text-align: center;
   }
 }
 
 /* Media query for screens smaller than 414px (adjust the value as needed) */
 @media (max-width: 414px) {
   .mhlink-container {
     flex-direction: column; /* Stack items vertically on smaller screens */
   }
 
   .mhlink {
     width: 100%; /* Make the app take the full width of the container */
     margin: 0 0 20px 0; /* Add margin to separate items vertically */
   }
 }
 
 .link-text{
   text-align: left;
 }

#ctl-btn {
  z-index: 21;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 15px;
  font-size: 20px;
  background-color: #A0A484;
  color: white;
  border: 1px #A0A484;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 100px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

#ctl-btn:hover {
    background-color: #7f826b;
    color: white;
}
